img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#poem {
  padding: 10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}